body {
  font-family: "Old Standard TT", serif;
  padding: 0;
  margin: 0;
  }
header {
  text-align: center;
  padding: 4.8em 0;
  background-image: url('https://unsplash.imgix.net/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&s=c156669d875b8684563664f2601a32e9');
  background-size: cover;
  text-shadow: 1px 1px 1px #000;
  border-bottom: 6px solid orange;
  margin-bottom: 4em;
  }
.masthead-intro {
  font-size: 1.6em;
  margin-bottom: 0.1em;
  color: #ccc;
  }
.masthead-heading {
  margin-top: -0.2em;
  font-family: "Vollkorn", serif;
  font-size: 4em;
  color: #ddd;
  text-transform: uppercase;
  letter-spacing: 0.20em;
  }
.masthead-post {
  margin-top: -1.8em;
  font-size: 1.2em;
  color: #ddd;
  font-style: italic;

  }
.who, .where, .questions {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.8em;
  padding-bottom: 0.8em;
  }
section h1 {
  color: #b36d53;
  font-family: "Vollkorn", serif;
  }
section h2 {
  font-size: 1.2em;
  color: #aaa;
  padding-left: 20px;
  }
section p {
  color: #666;
  padding-left: 20px;
  }
footer {
  margin-top: 2em;
  text-align: center;
  color: #b36d53;
  background-color: #5d4240;
  padding: 2em 0;
  text-shadow: 1px 1px 1px #000;
  border-top: 6px solid orange;
  }
.social {
  padding: 0px;
  }
.social > li {
  display: inline-block;
  padding: 0 0.4em;
  }
footer a:link, footer a:active, footer a:visited {
  color: orange;
  text-decoration: none;
  }

@media only screen and (max-width: 500px) {
    .masthead-heading {
      font-size: 3em;
      letter-spacing: 0.1em;
      }
    header {
      padding: 2.8em 0;
      }
}

@media only screen and (max-width: 660px) {
    section h1 {
      text-align: center;
      }  
}